{
    "plugins": [
      "@typescript-eslint",
      "eslint-comments",
      "import",
      "jest",
      "jsx-a11y",
      "n",
      "no-use-extend-native",
      "react",
      "react-hooks",
      "unicorn",
      "prettier"
    ],
    "extends": [
      "airbnb",
      "airbnb-typescript",
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 9,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "rules": {},
    "env": {
      "node": true,
      "es6": true,
      "jest/globals": true
    }
  }